<custom-keyboard-container class="{{model.theme}}">
    <custom-backdrop>
    </custom-backdrop>
    <custom-keyboard>
        <!-- -->
        <custom-keyboard-addons>
        </custom-keyboard-addons>
        <!-- -->
        <custom-keyboard-header ng-show="!model.hideHeader">
            <custom-keyboard-button ion-ripple ion-native-click ng-click="onDonePressed($event)">
                {{model.doneText}}
            </custom-keyboard-button>
        </custom-keyboard-header>
        <!-- -->
        <custom-keyboard-keys>
            <custom-keyboard-key ion-native-click ion-ripple ng-click="onKeyPressed($event,key)" ng-repeat="key in model.keys">
                <div>
                    <div class="key-value" ng-if="key.value">{{key.value}}</div>
                    <div class="key-icon" ng-if="key.icon"><i class="icon {{key.icon}}"></i></div>
                    <div class="key-label">{{key.label}}</div>
                </div>
            </custom-keyboard-key>
        </custom-keyboard-keys>
        <!-- -->
    </custom-keyboard>
</custom-keyboard-container>
