@import "../../../../css/flexbox";
custom-keyboard-container {
    $font_family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    $animation_duration: 0.35s;
    &.wai-enabled {
        > custom-keyboard {
            > custom-keyboard-keys {
                width: 100%;
                display: block;
                > custom-keyboard-key {
                    height: 56px;
                    > div {
                        margin-top: 4px;
                        div.key-value {
                            font-size: 2.25em;
                        }
                        div.key-icon {
                            font-size: 2em;
                        }
                        div.key-label {
                            font-size: 0.85em;
                            padding-top: 6px;
                        }
                    }
                }
            }
            > custom-keyboard-header {
                height: 48px;
                > custom-keyboard-button {
                    padding: 14px 20px;
                    font-size: 1.4em;
                }
            }
        }
    }
    &.dark {
        > custom-keyboard {
            background-color: #383838;
            > custom-keyboard-addons {
                display: block;
                border-top: 1px solid transparent;
            }
            > custom-keyboard-header {
                border-bottom: 1px solid transparent;
                > custom-keyboard-button {
                    color: #f5f5f5;
                }
            }
            > custom-keyboard-keys {
                > custom-keyboard-key {
                    border: 1px solid #444;
                    border-bottom: 1px solid transparent;
                    border-right: 1px solid transparent;
                    color: #f5f5f5;
                    background-color: #383838;
                    /* REMOVE BORDER TOP */
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        border-top: 1px solid #444;
                    }
                    /* SPECIAL BUTTON'S */
                    &:nth-child(10),
                    &:nth-child(12) {
                        background-color: #333;
                    }
                }
            }
        }
    }
    > custom-backdrop {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: #000;
        z-index: 99999;
        opacity: 0.05;
    }
    > custom-keyboard {
        background-color: #f0f1f2;
        /* Standard syntax */
        @keyframes slide-up {
            from {
                bottom: -160px;
            }
            to {
                bottom: 0px;
            }
        }
        &.slide-up {
            animation-name: slide-up;
        }
        &.slide-down {
            animation-name: slide-up;
            animation-direction: alternate-reverse;
        }
        animation-duration: $animation_duration;
        display: block;
        position: absolute;
        z-index: 99999999;
        bottom: 0px;
        left: 0px;
        right: 0px;
        > custom-keyboard-addons {
            display: block;
            border-top: 1px solid #c5c5c5;
        }
        > custom-keyboard-header {
            border-bottom: 1px solid transparent;
            height: 44px;
            > custom-keyboard-button {
                font-family: $font_family;
                display: block;
                color: #007aff;
                padding: 12px 20px;
                font-size: 1.2em;
                font-weight: bold;
            }
            @include flexbox();
            @include align-items(center);
            @include justify-content(flex-end);
        }
        > custom-keyboard-keys {
            width: 100%;
            display: block;
            > custom-keyboard-key {
                > div {
                    div.key-value {
                        text-align: center;
                        font-size: 1.65em;
                    }
                    div.key-label {
                        text-align: center;
                        font-size: 0.7em;
                        line-height: 1em;
                        padding-top: 2px;
                        opacity: 0.8;
                    }
                    div.key-icon {
                        text-align: center;
                        font-size: 1.55em;
                    }
                }
                width: 33.3%;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                float: left;
                border: 1px solid #c5c5c5;
                border-bottom: 1px solid transparent;
                border-right: 1px solid transparent;
                color: #000;
                background-color: #fff;
                /*  REMOVE BORDER'S */
                &:nth-child(1),
                &:nth-child(4),
                &:nth-child(7),
                &:nth-child(10),
                &:nth-child(13),
                &:nth-child(16),
                &:nth-child(19) {
                    border-left: 1px solid transparent;
                }
                /* REMOVE BORDER TOP */
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    border-top: 1px solid transparent;
                }
                /* SPECIAL BUTTON'S */
                &:nth-child(10),
                &:nth-child(12) {
                    background-color: #d2d6db;
                }
            }
        }
    }
}
